<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: style}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav th:replace="~{fragments :: navbar('songs')}"></nav>
<h2>Songs list</h2>
<div class="container d-flex justify-content-center">
    <ul th:if="${songs.size() != 0}">
        <li th:each="song : ${songs}" class="border py-3 px-5">
            <a th:text="${song.title}" th:href="@{|songs/${song.id}|}" class="text-center w-100">
            </a>
        </li>
    </ul>
    <p th:if="${songs.size() == 0}">Niente canzoni trovate</p>
</div>
<th:block th:replace="~{fragments :: bootstrapScript}"></th:block>
</body>
</html>